html {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

textarea {
    background-color: #111;
    border: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    resize: none;
}

.grid {
    display: grid;
    font-size: 24px;
    line-height: 36px;
    grid-template-columns: 1fr 1fr 1fr;
    width: 320px;
    text-align: center;
    font-family: monospace;
    margin-right:auto;
}

.box {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #111;
    padding:5px;
}

.box .word {
    font-size: 16px;
    color: #aaa;
}

.box .other {
    color:#afa;
}

.box .number{
    color:#99f;
}

.box .punctuation{
    color:#faa;
}

.box.current {
    background-color: #222;
}

.box .pressed {
    font-weight:bold;
    /* background-color: #123; */
}

.box.current .pressed {
    background-color: #444;
}

.box .up,
.box .down {
    grid-column: 2;
}

.box .left {
    grid-column: 1;
}

.box .right {
    grid-column: 3;
}